.Home {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.countHeader {
    display: flex;
    justify-content: center;
}

.count {
  background: red;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  font-size: 1.25rem;
  color: #ffd4d4
}

.count.active {
  background: green;
  color: #e3ffeb
}